body {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.canvas {
	background-color: black;
	position: absolute;
	margin: 0;
	padding: 0;
	left:  0px;
	top: 0px;
	/* overflow: hidden; */
	height: 100%;
	width: 100%;
}
.title {
	position: relative;
	display: block;
	z-index: 10;
	color: white;
	margin: auto;
	text-align: center;
	width: 50%;
	padding-top: 50px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;

}

.button-container {
	position: relative;
	top:  50%;
	z-index: 10;
	color: white;
	margin:  auto;
	text-align: center;
	width: 50%;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	display: block;

}
.button {
	display: inline-block;
	cursor: pointer;
	color: white;
	text-decoration: none;
	padding: 10px 20px 10px 20px;
	border: 1px solid white;
	border-radius: 50px;

}
.button:hover {
	background-color: rgb(235, 69, 152);
	color: white;
	border-color: rgb(235, 69, 152);
}

.repo-container {
	width: 40%;
	height: auto;
	text-align: center;
	color:  white;
	z-index: 5;
	position: relative;
	top: 20%;
	display: inline-block;
	padding: 10px;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.screen-width {
	width: 100%;
}

.small-font {
	font-size:20px;
}

.body-container {
	display: table;
	width: 100%;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	margin: auto;
}
